<h1 class="border-bottom pb-3 my-3">Hisse Düzenle</h1>

<div class="row my-3">
    <div class="col-md-12">
        <div class="card"> 
            <div class="card-body">
                <div class="row p-2">
                  <%= render "form", stock: @stock %>   
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="d-flex justify-content-between">
  <%= link_to "Tüm hisseler", stocks_path, class:"btn btn-outline-secondary" %>
  <%= link_to "Hisseyi incele", @stock, class:"btn btn-outline-secondary" %> 
</div>
