<h1 class="border-bottom pb-3 text-center">Hisselerim</h1>
<% if @stocks.size >= 1 %>
  <div id="stocks">
    <p><b>Toplam kayıtlı hisse sendi sayısı: </b><%= @stocks_size_for_person.size %></p>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <td>#ID</td>
          <td>Ticker</td>
          <td style="width: 120px">
              <%= link_to "+ Ekle", new_stock_path, class: "btn btn-sm btn-success d-flex justify-content-center" %>
          </td>
        </tr>
      </thead>
      <tbody>
          <% @stocks.each do |stock| %>
            <tr>
              <% if stock.user_id == current_user.id%>
                <%= render stock %>
              <% end %>
            </tr>
          <% end %>
      </tbody>
    </table>
    
  </div>
<% else %>
  <p class="text-danger"> Gösterilecek bir hisse kaydınız bulunmamaktadır.</p>
<% end %>


