<p style="color: green"><%= notice %></p>

<h1>Stocks</h1>
<% if @stocks.size >= 1 %>
  <div id="stocks">
    <% @stocks.each do |stock| %>
      <% if stock.user_id == current_user.id%>
        <%= render stock %>
        <p>
          <%= link_to "Show this stock", stock %>
        </p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="text-danger"> Gösterilecek bir hisse kaydınız bulunmamaktadır.</p>
<% end %>

<%= link_to "New stock", new_stock_path %>
