<p style="color: green"><%= notice %></p>

<table class="table table-stripped table-hover">
  <thead>
    <tr>
      <td>#ID</td>
      <td>Ticker</td>
      <td>Name<td>
      <td style="width: 120px;"></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render @stock %>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between">
  <%= link_to "Tüm hisselere göz at", stocks_path, class:"btn btn-outline-secondary" %>
</div>

